[Desktop Entry]
Encoding=UTF-8
Name=Link to ifstream - C++ Reference
Type=Link
URL=http://www.cplusplus.com/reference/fstream/ifstream/
Icon=text-html
