[Desktop Entry]
Encoding=UTF-8
Name=Link to Program to extract words from a given String - GeeksforGeeks
Type=Link
URL=https://www.geeksforgeeks.org/program-extract-words-given-string/
Icon=text-html
